
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@Html.ActionLink("Pedidos por Cliente", "PedidosPorCliente", "Consultas") |
@Html.ActionLink("Pedidos por Fecha", "PedidosPorFecha", "Consultas")
